<h1 style="text-align: center;">Eat-Da-Burger!</h1>

<div class="container" style="text-align: center;">
  <h2>Add a Burger</h2>
  <form class="create-form">
    <div class="form-group">
      <label for="burger">Burger Name:</label>
      <input type="text" id="burger" name="name">
    </div>

    <div class="form-group">
      <input type="radio" name="devour" value="0" checked> Devour!<br>
    </div>

    <button type="submit">Add Burger</button>
  </form>
</div>
<h2>Burgers to be devoured!</h2>

<ul>
  {{#each burgers}}
  {{#unless devour}}
  {{> burgers/burger-block devour=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers already devoured!</h2>

<ul>
  {{#each burgers}}
  {{#if devour}}
  {{> burgers/burger-block devour=false}}
  {{/if}}
  {{/each}}
</ul>